/* medienhaus.css */

@import url("./normalize.css");
@import url("./fonts.css");

:root {
  --color-fg: rgb(0,0,0);
  --color-bg: rgb(255,255,255);
  --color-hi: rgb(255,240,170);
  --color-no: rgb(255,96,96);
  --color-me: rgb(128,128,128);
  --color-lo: rgb(240,240,240);
  --margin: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

*::selection {
  background-color: var(--color-hi);
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: "Inter", sans-serif;
  font-size: calc(1em + 0.5vmin);
  font-style: normal;
  font-weight: 500;
  height: 100%;
  line-height: 1.3;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  height: 100%;
  padding-left: var(--margin);
  padding-right: var(--margin);
  opacity: 0;
  animation: init 0.03s ease-in 0.5s 1 forwards;
}

body > div:first-of-type {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0 calc(var(--margin) * 2.8);
  min-height: 100%;
}

body div:first-of-type > *:not(header):not(footer) > * + * {
  margin-top: calc(var(--margin) * 2);
}

a:link {
  color: var(--color-fg);
  text-decoration: none;
}

a:visited {
  color: var(--color-fg);
}

a:hover {
  color: var(--color-fg);
  text-decoration: underline;
}

a:focus {
  color: var(--color-fg);
}

a:active {
  color: var(--color-fg);
}

code {
  background-color: var(--color-lo);
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  padding: 0 calc(var(--margin) * 0.2);
}

code, pre, kbd, samp,
code a, pre a, kbd a, samp a {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: unset;
}

h1, h2, h3 {
  font-weight: bold;
}

hr {
  border-color: var(--color-fg);
  border-radius: unset;
  border-style: solid;
  border-width: calc(var(--margin) * 0.05);
  margin: var(--margin) 0;
}

strong, b {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a[rel~="external"] {
  white-space: nowrap;
}

a[rel~="external"]::after {
  content: "\2197";
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 900;
  vertical-align: super;
}

img {
  object-fit: cover;
  width: 100%
}

/*
img[alt=""], img:not([alt]) {
  border: 3px dashed rgb(255,0,0);
}
*/

footer {
  display: grid;
  grid-auto-flow: column;
  grid-row: 3;
  grid-column: 1 / 2;
  margin-top: calc(var(--margin) * 4);
  margin-bottom: calc(var(--margin) * 1.4);
}

header {
  background-color: var(--color-bg);
  grid-row: 1;
  grid-column: 1;
  padding-top: calc(var(--margin) * 1.4);
  padding-bottom: calc(var(--margin) * 1.4);
  position: sticky;
  top: 0;
  z-index: 1;
}

header > a {
  font-weight: bold;
}

header > a > h1 {
  display: inline-block;
}

header > a[href$="/login"],
header > button {
  display: none;
}

main {
  grid-row: 2;
  grid-column: 1;
  /*
  max-width: 55ch;
  */
}

/*
main section > * + * {
  margin-top: var(--margin);
}

main ul {
  list-style-type: "\2013\0020";
  list-style-position: inside;
}
*/

nav {
  grid-row: 1 / 3;
  grid-column: 2;
}

nav > ul {
  display: grid;
  position: sticky;
  top: calc(var(--margin) * 1.4);
}

nav > ul > li > a {
  display: block;
  font-weight: bold;
}

nav > ul > li > a.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.projects {
  display: grid;
  grid-gap: var(--margin);
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}

.projects > div {
  border-color: var(--color-me);
  border-style: dotted;
  border-radius: unset;
  border-width: calc(var(--margin) * 0.1);
  display: grid;
  place-content: center;
  padding: calc(var(--margin) * 0.7);
}

.project {
  max-width: 55ch;
}

.project > * + *,
.project ~ * > * + * {
  margin-top: var(--margin);
}

.project a:link,
.project ~ * a:link {
  text-decoration: underline;
}

@keyframes init {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: rgb(255,255,255);
    --color-bg: rgb(20,20,20);
    --color-hi: rgb(228,9,59);
    --color-no: rgb(255,96,96);
    --color-me: rgb(128,128,128);
    --color-lo: rgb(40,40,40);
  }
}

/* 479px */
@media (max-width: 29.938em) {
  header {
    grid-column: 1 / 3;
  }
  main {
    grid-column: 1 / 3;
  }
  nav {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  header > a[href$="/login"],
  header > button {
    display: initial;
  }
  header > button {
    background-color: var(--color-bg);
    border: unset;
    color: var(--color-fg);
    flex: 0 1;
  }
  header > button.open {
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin-top: -0.3rem;
    transform: rotate(90deg);
  }
  header > button.close {
    font-size: 1.5rem;
    margin-top: -0.5rem;
  }
  footer {
    grid-column: 1 / 3;
    align-items: center;
  }
}

/* 640px */
@media (min-width: 40em) {
  body {
    padding-left: calc(var(--margin) * 2);
    padding-right: calc(var(--margin) * 2);
  }
}

/* fallback for list-style-type: "<string>"; */
/*
@supports not (list-style-type: "\2013\0020") {
  main ul li::before {
    content: "\2013\0020";
  }
}
*/

/*
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
*/
/*
@import url("./leaflet.css");

.leaflet-container {
  z-index: 0;
}

.leaflet-container,
.leaflet-container a:link,
.leaflet-container a:hover {
  color: rgb(0,0,0);
  text-decoration: none;
}

.contextDropdown ul {
  position: absolute;
  overflow: auto;
  max-height: 50vh;
  background-color: var(--color-bg);
  width: 100%;
  border: solid var(--color-fg);
  border-width: 0 3px 3px 3px;
  z-index: 9999;
}

@media (max-width: 29.938em) {
  .contextDropdown ul {
    max-height: 70vh;
  }
}

.contextDropdown ul li {
  cursor: pointer;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contextDropdown ul li div small {
  color: gray;
}

.contextDropdown ul li.disabled {
  cursor: default;
}
.contextDropdown ul li.disabled div {
  opacity: 0.6;
}

.contextDropdown ul li.selected {
  background-color: var(--color-fg);
  color: var(--color-bg)
}

.contextDropdown ul li:not(.disabled):not(.selected):hover {
  background-color: var(--color-lo);
}
*/

/* KARTENANSICHT, ORTE, LEAFLET via RUNDGANG STYLES.CSS */
.address-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 9px 4px;
}

.container {
  margin: 10px auto;
  margin-top: 70px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.address-lists .address, .tags li {
  /* display: inline-flex; */
  -webkit-transition: 100ms linear;
  -o-transition: 100ms linear;
  transition: 100ms linear;
  display: inline-block;
  background: black;
  height: 26px;
  border-radius: 60px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 26px;
  margin-right: 4px;
  margin-bottom: 6px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  margin-right: 0;
  font-weight: 500;
  font-family: "BauPro";
}

.address-lists .address {
  border: 1px solid black;
  line-height: 24px;
}

.address:hover, .address.active {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  color: black;
  line-height: 24px;
}

.location-info {
  display: none;
}

.tags {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 10px;
}

.leaflet-container {
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  -webkit-box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  border: 1px solid #C4C4C4;
}

.leaflet-popup-content {
  margin: 10px !important;
}
.leaflet-popup-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.leaflet-popup-content ul li {
  font-size: 16px;
  line-height: 20px;
}
.leaflet-popup-content ul li.closed {
  color: #C4C4C4;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 10px !important;
  right: 10px !important;
  font-size: 20px !important;
  color: black !important;
}

.leaflet-popup-content h3 {
  margin-bottom: 0 !important;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 30px;
}

.leaflet-popup-content p {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: 16px;
  line-height: 20px;
  color: #C4C4C4;
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-control {
  z-index: 300 !important;
}

.leaflet-top, .leaflet-bottom {
  z-index: 400 !important;
}

.leaflet-popup {
  margin-bottom: 10px !important;
}

.leaflet-popup-content ul.tags {
  margin-top: 10px;
  margin-left: -2px;
}

.leaflet-popup-content ul.tags li {
  line-height: 26px;
  font-size: 14px;
}

.leaflet-popup-content ul.tags li a {
  color: white;
  text-decoration: none;
  line-height: auto;
}

.leaflet-tile-pane {
  filter: grayscale(1);
}

/*
.leaflet-popup.leaflet-zoom-animated {
  left: 25px !important;
}
*/

#map {
  border-top: 1px solid #C4C4C4;
  width: 100%;
  height: calc(100vh - 152px);
}
